body{
    background-color: #002225;
}

#header{
    background-color: rgba(0, 0, 0, 0.23);    
    text-align: center;
    color: #ccccaa;
    border-radius: 20px;
}

.canvas-row{
    margin-top: 20px;
}
#start_btn{
    margin-left: 58px;    
    width: 100px;    
    background-color: #116011;
}
#increment{
    margin-left: 10px;
    width: 40px;
    font-size: 15px;

}
#decrement{
    margin-left: 20px;
    width: 40px;
    font-size: 15px;
}

#input_theta{
    margin-left: 20px;
}
#Fx_label{
    size:  10px;
    text-decoration-style: dashed;
    font-size: 18px;
    color:white;
    margin-left: 15px;
}
#theta_label{
    size:  40px;
    text-decoration-style: dashed;
    font-size: 18px;
    color:white;
    margin-left: 20px;
}
#ms_label{
    margin-left:10px;
    size:  50px;
    text-decoration-style: dashed;
    font-size: 15px;
    color:white;
}
#initial_theta{
    margin-left:10px;
    size:  50px;
    text-decoration-style: dashed;
    font-size: 15px;
    color:white;
}
#system_state{
    background-color:rgba(0,0,0,0.23);
    border-style: ridge;
    border-radius: 20px; 
}

.display-state{
    margin-top: 40px;
    margin-left: 12px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #dddddd;
}
#input_force{
    margin-left: 12px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #dddddd;
}

.canvas-div{
    margin-left: 50px;
}

#model-equation{
    width: 30px;
}